.DataView{
    .heading{
        margin : 0 auto;
        font-size: 32px;
        color: #42526E;
        @media (min-width: 1280px) {
            margin-bottom: 20px;
            padding-left: 25px;
            width: 90%;
        }
    }
    .header{
        margin-bottom: 20px;
        @media (min-width: 1280px)  {
            width: 90% !important;
            margin: 0 auto;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
    }
 
    
    @media (min-width: 1280px) {
        float: left;
        width: calc(100% - 170px);
        padding: 30px;
        margin-top: 70px;
        margin-left: 100px;
    }

    @media (min-width: 320px) and (max-width: 1280px) {
        margin: 100px 20px;
    }
    .link, .displayLabel{
        float: left;
        margin-right: 35px;
        color: rgb(136, 136, 136);
        @media (min-width: 320px) and (max-width: 1280px) {
            width: 100%;
        }
    }
    .link{
        cursor: pointer;
    }
 
   
}

